/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


@font-face {
  font-family: 'Akrobat';
  src: url('assets/fonts/Akrobat-Regular.woff2') format('woff2'), url('assets/fonts/Akrobat-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('assets/fonts/Akrobat-Bold.woff2') format('woff2'), url('assets/fonts/Akrobat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Akrobat' !important;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

  .spinner > div {
    /*    background-color: #333;*/
    background-color: #C8801D;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  background: #000;
  z-index: 100;
}

.spinner-container .spinner-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.spinner-box .spinner {
  margin: 100px auto;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 10px;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.table-kisforce thead tr.sup th {
  background-color: #C8801D;
}

.table-kisforce th {
  border-right: 5px solid #C8801D;
  border-left: 5px solid #C8801D;
  border-bottom: 5px solid #C8801D !important;
  background-color: #444444;
  color: #FFFFFF;
}

  .table-kisforce th:first-child {
    border-left: 0px none;
  }

  .table-kisforce th:last-child {
    border-right: 0px none;
  }
