<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Cargar archivo excel
            </div>
            <div class="card-body">
                <form class="ui form" [formGroup]="form">
                    <input style="display: none;" type="file" (change)="setFile($event)" #inputFile>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Archivo Excel</label>
                        <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" placeholder="Seleccione archivo" formControlName="file" readonly>
                            <div class="input-group-append" (click)="inputFile.click()">
                                <div class="input-group-text">
                                    <i class="fa fa-cloud-upload"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Archivo Excel</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="sheet" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button class="btn btn-dark" type="button" [disabled]="form.invalid" (click)="cargarArchivo()">Cargar Archivo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Búsqueda
            </div>
            <div class="card-body">
                <form class="ui form" [formGroup]="formSearch">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Supervisor</label>
                        <div class="col-sm-3">
                            <select class="form-control" formControlName="supervisor">
                                <option value="-1">TODOS</option>
                                <option *ngFor="let item of supervisores" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                        <label class="col-sm-3 col-form-label">Clase</label>
                        <div class="col-sm-3">
                            <select class="form-control" formControlName="clase">
                                <option value="-1">TODOS</option>
                                <option *ngFor="let item of clases" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Departamento</label>
                        <div class="col-sm-3">
                            <select class="form-control" formControlName="departamento">
                                <option value="-1">TODOS</option>
                                <option *ngFor="let item of departamentos" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                        <label class="col-sm-3 col-form-label">Subsidiaria</label>
                        <div class="col-sm-3">
                            <select class="form-control" formControlName="subsidiaria">
                                <option value="-1">TODOS</option>
                                <option *ngFor="let item of subsidiarias" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button class="btn btn-dark" type="button" (click)="buscarDatos()">
                                <span>Buscar</span>
                                <i class="fa fa-search ml-2"></i>
                            </button>

                            <button class="btn btn-dark ml-2" type="button" (click)="descargarEmpleados('XLSX')" [disabled]="!source || source.length == 0">
                                <span>
                                    Excel
                                    <i class="fa fa-download ml-1"></i>
                                </span>
                            </button>

                            <button class="btn btn-dark ml-2" type="button" (click)="descargarEmpleados('CSV')" [disabled]="!source || source.length == 0">
                                <span>
                                    CSV
                                    <i class="fa fa-download ml-1"></i>
                                </span>
                            </button>

                            <button class="btn btn-dark ml-2" type="button" (click)="descargarEmpleados('PDF')" [disabled]="!source || source.length == 0">
                                <span>
                                    PDF
                                    <i class="fa fa-download ml-1"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-celled table-kisforce mt-4">
    <ng-container *ngFor="let fila of source">
        <thead>
            <tr class="sup">
                <th colspan="5">SUPERVISOR: {{fila.supervisor}}</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Clase</th>
                <th>Subsidiaria</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of fila.items; let i = index;" key="row.fila">
                <td>{{row.nombre}}</td>
                <td>{{row.cargo}}</td>
                <td>{{row.clase}}</td>
                <td>{{row.subsidiaria}}</td>
                <td>{{row.departamento}}</td>
            </tr>
        </tbody>
    </ng-container>
</table>