a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #FFFFFF !important;
  font-size: 30px !important;
  float: right;
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  line-height: 0.75;
  clear: right;
}

.navbar-name {
  float: right;
  clear: right;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-back {
  background-color: #444444 !important;
  color: #FFFFFF !important;
}

  .navbar-back .nav-link {
    color: #FFFFFF !important;
  }
